{
  "semi": false, // No semicolons
  "trailingComma": "always", // Commas on every line, even the last
  "singleQuote": true, // Prefer single quotes for strings
  "printWidth": 80 // Hard limit of 80 chars per line
}
